html,
body {
	scroll-behavior: smooth !important;
}


body {
	font-family: $body-font;
	font-size: $body-font-size;
	font-weight: $body-font-weight;
	color: $primary-color;
	line-height: $body-line-Height;
	background: $bg-color;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;

	/***scroll-bar***/
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $white-color;
		background-image: -webkit-linear-gradient(45deg,
				$theme-color 25%,
				transparent 20%,
				transparent 50%,
				$theme-color 50%,
				$theme-color 75%,
				transparent 75%,
				transparent);
		border-radius: 3px;
	}
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis {
	&.lenis-smooth {
		scroll-behavior: auto !important;

		[data-lenis-prevent] {
			overscroll-behavior: contain;
		}

		// iframe {
		// 	pointer-events: none;
		// }
	}

	&.lenis-stopped {
		overflow: hidden;
	}
}


section {
	position: relative;
	z-index: 1;

	>.outer-box {
		margin: 0 60px;
		position: relative;
		z-index: 1;
		overflow: hidden;

		// @include ml {
		// 	margin: 0 12px;
		// }

		// @include tablet-s {
		// 	margin: 0;
		// }
	}
}

iframe {
	border: none;
	width: 100%;
}

.slick-slide:focus,
button:focus,
a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
	outline: none;
}


input:focus {
	outline: none;
	box-shadow: none;
}

img:not([draggable]),
embed,
object,
video {
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type: none;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

ol {
	list-style-type: decimal;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid $border-color;

}

th {
	font-weight: 700;
	color: $title-color;
}

td,
th {
	border: 1px solid $border-color;
	padding: 9px 12px;
}


a {
	color: $title-color;
	text-decoration: none;
	outline: 0;

	&:hover {
		color: $theme-color;
	}

	&:active,
	&:focus,
	&:hover,
	&:visited {
		text-decoration: none;
		outline: 0;
	}
}

a,
button {
	outline: none;
	border: none;
	background: transparent;
	transition: all ease 0.4s;
}

img {
	border: none;
	max-width: 100%;
}

ins {
	text-decoration: none;
}

pre {
	font-family: $body-font;
	background: #f5f5f5;
	color: #666;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

span.ajax-loader:empty,
p:empty {
	display: none;
}


p {
	font-family: $body-font;
	margin: 0 0 15px 0;
	color: $gray-color;
	line-height: $p-line-Height;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
span a {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}


.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
	font-family: $body-font;
	color: $title-color;
	text-transform: none;
	font-weight: 600;
	line-height: 1.4;
	// margin: 0 0 15px 0;
}

.h1,
h1 {
	font-size: 62px;
	line-height: 72px;
}

.h2,
h2 {
	font-size: 42px;
	line-height: 50px;
}

.h3,
h3 {
	font-size: 36px;
	line-height: 1.417;
}

.h4,
h4 {
	font-size: 24px;
	line-height: 1.417;
}



.h5,
h5 {
	font-size: 22px;
	line-height: 1.417;
	font-weight: 600;
}

.h6,
h6 {
	font-size: 18px;
	line-height: 1.5;
}

.d-flex{
	display: flex;
	align-items: start;
}

.black-clr{
	color: $black-color !important;
}

.white-color{
	background: $white-color;
}

.white-clr{
	color: $white-color !important;
}

.bg-color3{
	background: $secondary-color;
}

.bg-color2{
	background: $bg-color2;
}

.bg-color{
	background: $bg-color !important;
}

.p-top-left {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.p-bottom-left{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
  
.p-top-right {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

.p-bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}


.line {
    width: 100%;
    height: 1px;
    background: $btn-border;
}


.doot{
	height: 1px;
	display: inline-block;
	width: 100%;
	max-width: 100%;
	background: $pra-color;
	position: relative;
	z-index: 2;
	&::before{
	  position: absolute;
	  content: "";
	  top: 0;
	  left: 0;
	  width: 50%;
	  height: 1px;
	  background: $primary-color;
	}
	&::after{
	  position: absolute;
	  content: "";
	  bottom: -5px;
	  right: 50%;
	  width: 12px;
	  height: 12px;
	  border-radius: 50%;
	  background: #fff;
	  border: 1px solid $primary-color;
	}
	&.style-two{
		&::after{
		  background: $bg-color
		}
	}
  }



  .doot-2{
	height: 1px;
	display: inline-block;
	width: 100%;
	max-width: 100%;
	background: $pra-color;
	position: relative;
	z-index: 2;
	&::before{
	  position: absolute;
	  content: "";
	  top: 0;
	  left: 50%;
	  width: 50%;
	  height: 1px;
	  background: $primary-color;
	}
	&::after{
	  position: absolute;
	  content: "";
	  bottom: -5px;
	  right: 50%;
	  width: 12px;
	  height: 12px;
	  border-radius: 50%;
	  background: $bg-color;
	  border: 1px solid $primary-color;
	}
  }
  

  .overlay-anim1 {
    position: relative;

    &::after {
        background-color: $bg-color9;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        opacity: 1;
        z-index: 9;
        pointer-events: none
    }

    &:hover::after {
        height: 100%;
        opacity: 0;
        -webkit-transition: all 400ms linear;
        -o-transition: all 400ms linear;
        transition: all 400ms linear
    }
}
  
// @include ml {

// 	.h1,
// 	h1 {
// 		font-size: 48px;
// 	}
// }

// @include lg {

// 	.h1,
// 	h1 {
// 		font-size: 44px;
// 		line-height: 1.3;
// 	}

// 	.h2,
// 	h2 {
// 		font-size: 40px;
// 		line-height: 1.25;
// 	}

// 	.h3,
// 	h3 {
// 		font-size: 30px;
// 	}

// 	.h4,
// 	h4 {
// 		font-size: 24px;
// 	}

// 	.h5,
// 	h5 {
// 		font-size: 20px;
// 	}

// 	.h6,
// 	h6 {
// 		font-size: 16px;
// 	}
// }


// @include sm {

// 	.h1,
// 	h1 {
// 		font-size: 40px;
// 	}

// 	.h2,
// 	h2 {
// 		font-size: 34px;
// 		line-height: 1.3;
// 	}

// 	.h3,
// 	h3 {
// 		font-size: 26px;
// 	}

// 	.h4,
// 	h4 {
// 		font-size: 22px;
// 	}

// 	.h5,
// 	h5 {
// 		font-size: 18px;
// 	}

// 	.h6,
// 	h6 {
// 		font-size: 16px;
// 	}
// }

// @include xs {

// 	.h1,
// 	h1 {
// 		font-size: 34px;
// 		line-height: 1.35;
// 	}

// 	.h2,
// 	h2 {
// 		font-size: 30px;
// 	}
// }

// @include vxs {

// 	.h1,
// 	h1 {
// 		font-size: 32px;
// 	}
// }